
.digital-clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--main-text-color);
    text-align: center;
    font-weight: bold;
    line-height: 0.8;
}

.digital-clock div {
    margin: 0 5px;
    backdrop-filter: blur(5px);
    text-shadow: var(--shadow-mh); 
}

.digital-clock-day {
    display: flex;
    padding-left: 0.5em;
}

.digital-clock-dot-container {
    flex: none;
    flex-direction: column;
    justify-content: center;
    animation: breath-animation 2s infinite ease-in-out;
}

.digital-clock-dot-up {
  flex: 0.5;
  gap: 0;
  min-height: 0;
  line-height: 0.45;
}

.digital-clock-dot-down {
  flex: 0.5;
  gap: 0;
  min-height: 0;
  line-height: 0.65;
}

@keyframes breath-animation {
    0% {
      transform: scale(1);
      opacity: 1
    }
    25% {
      transform: scale(1.002); /* Scale up */
      opacity: 1
    }
    50% {
      transform: scale(1.002); /* Scale up */
      opacity: 0 
    }
    75% {
      transform: scale(1.002); /* Scale up */
      opacity: 1
    }
    100% {
      transform: scale(1); /* Scale back to original */
      opacity: 1
    }
  }