.top-menu-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    inset: 0 0 auto 0;
    z-index: 1000;
    padding: 8px;
    justify-content: flex-end;
    gap: 10px;
    height: 44px;
}

.top-menu-bar * {
    width: 32px;
    height: 32px;
}

.more-menu-item {
    transform: rotate(0deg);
    margin-right: 0;
}

.more-menu-item.active {
    transform: rotate(180deg);
    margin-right: 32px;
}

.more-menu-item.animation {
    animation-duration: 0.6s;
    animation-name: hiddenMoreMenu;
    animation-fill-mode: none;
    animation-timing-function: ease;
    animation-delay: 0s;
}

.more-menu-item.active.animation {
    animation-name: showMoreMenu;
    animation-duration: 0.4s;
}

@keyframes showMoreMenu {
   from {
       margin-right: 0;
       transform: rotate(0deg);
   }
   to {
       margin-right: 32px;
       transform: rotate(-180deg);
       /* transform: rotate(1800deg); */
   } 
}

@keyframes hiddenMoreMenu {
   from {
       margin-right: 32px;
       transform: rotate(-180deg);
       /* transform: rotate(1800deg); */
   }
    to {
       margin-right: 0px;
       transform: rotate(0deg);
    } 
}